name: "Multi event Pipeline /workflow"

on:
    push:
        branches:
            - master
            - test

jobs:
    on-push:
        runs-on: ubuntu-latest
        steps:
            - name: "running on master push"
              run: echo "Running on master push"



